/* Animations */
@mixin keyframe ($aname) {
	@keyframes #{$aname} {
		@content;
	}
}

@mixin animate ($delay, $duration, $animation) {
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@mixin mt ($time, $props: (all)) {
	$tr: ();
	@if type-of($props) == list {
		@for $i from 1 through length($props) {
			$e: nth($props, $i);
			$tr: if(
				$i != length($props),
				$tr#{$e}#{', '},
				$tr#{$e}
			  );
		}
	} @else {
		$tr: $props;
	}
	transition-property: $tr;
	transition-duration: $time;
	transition-timing-function: ease-out;
}